name: dispatch

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Select log level"
        required: true
        default: warning
        type: choice
        options:
          - info
          - warning
          - debug
      environment:
        description: "Environment to deploy to"
        required: true
        type: environment

jobs:
  log-the-inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Log the inputs
        run: |
          echo "Log level: $LEVEL"
          echo "Environment: $ENVIRONMENT"
        env:
          LEVEL: ${{ inputs.logLevel }}
          ENVIRONMENT: ${{ inputs.environment }}
